main {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0;

}

.product h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product p {
    font-size: 18px;
    margin: 5px 0;
}

.product button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.product button:hover {
    background-color: #0056b3;
}